:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  margin-left: 350px;
}


.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 120px;
  
}

@keyframes flow {
  0% {
    color: #ff0000; /* Red */
  }
  25% {
    color: #00ff00; /* Green */
  }
  50% {
    color: #0000ff; /* Blue */
  }
  75% {
    color: #ffff00; /* Yellow */
  }
  100% {
    color: #ff00ff; /* Magenta */
  }
}


h4{
  font-size: 2.5rem;
  margin: 0px;

  /* animation: flow 5s infinite; */

  background: linear-gradient(45deg, #ff0000, #ff00ff, #0000ff, #00ffff, #00ff00, #ffff00, #ff0000);
  /* Use the text as a mask for the gradient */
  -webkit-background-clip: text;
  background-clip: text;
  /* Set the text color to transparent to allow the gradient to show through */
  color: transparent;
}

button{
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-btn
{
  background-color: green;
  margin-top: 50px;
}

.add-btn:hover
{
  background-color: rgb(10, 179, 10);
}

.dlt-btn {
  background-color: rgb(243, 231, 231);
}

.dlt-btn:hover {
  background-color: rgb(90, 35, 35);
}

.move-btn
{
 background-color: rgb(29, 203, 130);
}


input[type="text"]
{
    font-size: 1.2rem;
    padding: 2px;
    border: 2x solid black;
    border-radius: 5px;
}

ol{
  padding: 0;
  list-style-type: none;
}

li{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
  background-color: white;
  margin-bottom: 3px;
  border: 4px rgb(185, 187, 185);
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
  height: 50px;
  width: 600px;
}
.text
{ 
  flex:1;
  animation: flow 4s infinite;
}

.dlt-btn, .move-btn
{
  padding: 8px 12px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}